.hide {
	display: none;
}

html, body {
	margin: 0;
	height: 100vh;
	width: 100vw;
	overflow-x: hidden;
	background-image: url('https://i.ytimg.com/vi/syfqEMoHnhc/maxresdefault.jpg');
	background-size: cover;
}


.box {
	border: 1.5px solid white;
	margin: 0 auto;
	margin-top: 30vh;
	height: 40vh;
	width: 60vw;
	opacity: 0;
	display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    justify-content: center;
}

.box-wrapper {
	background-color: blue;
	height: 80%;
	width: 90%;
}

nav {
	background: black;
	position: fixed !important;
	width: 100vw;
	border-bottom: 1px solid white;
	z-index: 2;
	color: white;
}

#brand {
	color: red !important;
	font-weight: 600;
	font-size: 32px
}

#navbarSupportedContent {
	float: right !important;
	color: #810000 !important;
}

.box {
	opacity: 1 !important;
}

.fade-enter-active, .fade-leave-active {
  transition: opacity .5s;
}
.fade-enter, .fade-leave-to {
  opacity: 0;
}
